<div id="first-container">
  <button class="btn-newshift" id="new-shift-btn" ng-click="OnNewShift()" hidden="true">Start a New Shift</button>
  <div id="shift-erea">
    <button class="btn-newshift" id="end-shift-btn" ng-click="OnEndShift()" hidden="true">End This Shift</button>
    <p id="shift-info" hidden="true">Time Passed<br/><span id="stopwatch"></span></p>
  </div>
</div>
<div id="socond-container">
  <p id="month-shifts" ng-show="isShifts">{{thisMonth}}'s shifts so far..</p>
  <p id="no-shifts" ng-hide="isShifts">No shifts in {{thisMonth}} so far..</p>
  <div ng-include="'views/total_statistics.html'" ng-controller="statisticsController" ng-show="isShifts"></div>
  <div ng-include="'views/shifts_table.html'" ng-controller="shiftsTableController" ng-show="isShifts"></div>
</div>
