<!-- Look at home.css -->

<header ng-include="'header.html'"></header>
<div id="first-container">
  <button class="btn-newshift" id="newShiftBtn" ng-click="OnNewShift()" hidden="true">Start a New Shift</button>
  <button class="btn-newshift" id="endShiftBtn" ng-click="OnEndShift()" hidden="true">End This Shift</button>
  <p id="stopwatch"></p>
</div>
<h2 id="month-shifts">THIS MONTH SHIFTS</h2>
<div>
  <div ng-include="'total_statistics.html'" ng-controller="statisticsController" ng-show="isShifts"></div>
  <div ng-include="'shifts_table.html'" ng-controller="shiftsTableController" ng-show="isShifts"></div>
</div>
