

#menu-bar{
  background-color: #FFFFFFFF;
  overflow: auto;
  width: 70%;
  margin: auto;
}

#title{
  width: auto;
  float: left;
  margin: 25px 10px 25px 10px;
  color: #000000;
  text-align: left;
}

#main-title{
  font-size: 30px;
  font-weight: bold;
}

#sub-title{
  font-size: 17px;
}

.header-right {
  margin: 35px 20px 25px 0px;
  float: right;
}

#menu-bar a {
  text-decoration: none;
  color: #0D3960;
  padding: 8px;
}


@media screen and (max-width: 500px) {
  .header-right{
    display: inline-grid;
  }
  #menu-bar a {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
