
#first-container{
  height: 500px;
  background: url('../images/background.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
}

#socond-container{
  background-color: #f0eced;
  width: 100%;
}

.btn-newshift{
  font-family: inherit;
  letter-spacing: 1.5px;
  background-color: #008CBA;
  font-size: 21px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  border-radius: 25px;
  border-width: 0px;
  cursor: pointer;
}

.btn-newshift:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#new-shift-btn{
  position: relative;
  left: 10%;
  top: 250px;
}

#shift-erea{
  position: relative;
  left: 10%;
  top: 250px;
  background-color: #8d9ba0;
  width: 227px;
  border-radius: 25px;
  border-width: 0px;
}

p{
  text-align: center;
  color: #FFFFFF;
}

#stopwatch{
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
}

#month-shifts{
  color: #000000;
  font-size: 25px;
  margin: 0;
  padding: 70px 0 0 0;
}

@media screen and (max-width: 900px) {

  #first-container{
    height: 300px;
  }

  .btn-newshift{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 18px;
    border-radius: 15px;
  }

  #new-shift-btn{
    top: 150px;
  }

  #shift-erea{
    top: 150px;
    width: 161px;
  }

  #stopwatch{
    font-size: 25px;
  }

}
