#settings{
  text-align: center;
  padding: 30px 0 30px 0;
  color: #000000;
}

#settings h1{
  margin-bottom: 100px;
}

#settings input{
  width: 200px;
  margin-left: 20px;
  font-size: 20px;
}

#settings span{
  font-size: 25px;
}

#settings p{
  padding: 20px;
  font-size: 25px;
}

#settings button{
  margin: 40px 0 0 0;
  letter-spacing: 1px;
  background-color: #008CBA;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  border-width: 0px;
  cursor: pointer;
}

#settings button:hover{
  opacity: 0.9;
}

#success-messege{
  color: green;
}

#failure-messege{
  color: red;
}
