table{
  width: 85%;
  padding-bottom: 70px;
  margin: auto;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

td{
  font-size: 20px;
}

#delete-btn {
  size: 30px;
  background-color: inherit;
  border-width: 0;
  color: inherit;
  font-size: 30px;
  cursor: pointer;
}
