body{
  margin: 0;
  padding: 0;
  text-align: center;
}

/* HEADER */

#menu-bar{
  background-color: #397aac;
  color: white;
  overflow: auto;
}

#menu-bar h1{
  float: left;
  margin-left: 10px;
}

#menu-bar ul{
  margin-right: 10px;
  float: right;
  list-style: none;
  display: flex;
  color: white;
}

#menu-bar li{
  padding: 8px;
}

#menu-bar a {
  text-decoration: none;
  color: white;
}

/* HOME */

.btn-newshift{
  margin-top: 30px;
  background-color: #092940;
  color: white;
  width: 200px;
  height: 70px;
  text-align: center;
  border-radius: 25px;
  border-width: 0px;
}

#month-shifts{
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: #cfdce6;
}

table{
  width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
